{% extends 'core/plantillaNavegador.html' %}
{% load static %}

{% block titulo %}Ranking{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/ranking.css' %}">
{% endblock %}

{% block contenido %}
<div class="conteiner-fluid">
    <h1>Ranking List</h1>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <li>
                <h1>01</h1>
            </li>
            <li>
                <h2>Spider-Man</h2>
            </li>


        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12  ">

            <a href="#">
                <img src="{% static 'core/imagenes/spidey.jpg' %}" alt="Lights" style="width:100%">

            </a>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <li>
                <h1>02</h1>
            </li>
            <li>
                <h2>Wall*E</h2>
            </li>


        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12  ">

            <a href="#">
                <img src="{% static 'core/imagenes/wally.jpg' %}" alt="Lights" style="width:100%">

            </a>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <li>
                <h1>03</h1>
            </li>
            <li>
                <h2>Joker</h2>
            </li>


        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12  ">

            <a href="#">
                <img src="{% static 'core/imagenes/joker.jpg' %}" alt="Lights" style="width:100%">
                <div class="caption">
                </div>
            </a>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <li>
                <h1>04</h1>
            </li>
            <li>
                <h2>The Batman</h2>
            </li>


        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12  ">

            <a href="#">
                <img src="{% static 'core/imagenes/lamascara.jpg' %}" alt="Lights" style="width:100%">

        </div>
        </a>
    </div>
</div>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <li>
                <h1>05</h1>
            </li>
            <li>
                <h2>Red</h2>
            </li>


        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12  ">

            <a href="#">
                <img src=" {% static 'core/imagenes/red.jpg' %}" alt="Lights" style="width:100%">

        </div>
        </a>
    </div>
</div>

</div>
{% endblock %}